<?xml version="1.0"?>
<model>
  <name>stairs_standard</name>
  <version>1.0</version>
  <sdf version='1.5'>stairs_standard.sdf</sdf> <!-- Very important to change. -->
  <author>
    <name>Salman_Omar_Sohail</name>
    <email>salman.omar.sohail@gmail.com</email>
  </author>
  <description>
    Stairs for testing robot navigation on steps.
  </description>
</model>