<?xml version="1.0"?>
<model>
  <name>wine_cup</name>
  <version>1.0</version>
  <sdf version='1.5'>wine_cup.sdf</sdf> <!-- Very important to change. -->
  <author>
    <name>Salman_Omar_Sohail</name>
    <email>salman.omar.sohail@gmail.com</email>
  </author>
  <description>
    A household wine_cup model.
  </description>
</model>