<?xml version="1.0"?>
<model>
  <name>iso_nav_room</name>
  <version>1.0</version>
  <sdf version='1.5'>iso_nav_room.sdf</sdf> <!-- Very important to change. -->
  <author>
    <name>Salman_Omar_Sohail</name>
    <email>salman.omar.sohail@gmail.com</email>
  </author>
  <description>
    ISO designated test room.
  </description>
</model>