<?xml version="1.0"?>
<model>
  <name>slope_15deg</name>
  <version>1.0</version>
  <sdf version='1.5'>slope_15deg.sdf</sdf> <!-- Very important to change. -->
  <author>
    <name>Salman_Omar_Sohail</name>
    <email>salman.omar.sohail@gmail.com</email>
  </author>
  <description>
    A simple test environment model.
  </description>
</model>