<?xml version="1.0"?>
<model>
  <name>force_sensor_obstacle</name>
  <version>1.0</version>
  <sdf version='1.5'>force_sensor_obstacle.sdf</sdf> <!-- Very important to change. -->
  <author>
    <name>Salman_Omar_Sohail</name>
    <email>salman.omar.sohail@gmail.com</email>
  </author>
  <description>
    A force_sensor_obstacle.
  </description>
</model>