<?xml version="1.0"?>
<model>
  <name>safety_obstacle_cylinder</name>
  <version>1.0</version>
  <sdf version='1.5'>safety_obstacle_cylinder.sdf</sdf> <!-- Very important to change. -->
  <author>
    <name>Salman_Omar_Sohail</name>
    <email>salman.omar.sohail@gmail.com</email>
  </author>
  <description>
    A safety_obstacle_cylinder.
  </description>
</model>