<?xml version="1.0"?>
<launch>
  <arg name="run_demo" default="false" doc="If true, perform the demo after launch"/>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="effort_control" default="false"/>
  <arg name="velocity_control" default="false"/>
  <arg name="add_gripper" default="true" />
  <arg name="add_vacuum_gripper" default="false" />
  <arg name="namespace" default="xarm"/>
  
  <arg name="xarm_velocity_control" value="$(eval arg('velocity_control') and not arg('run_demo'))" />

  <rosparam file="$(find xarm6_moveit_config)/config/xarm6_params.yaml" command="load" ns="$(arg namespace)"/>
  <rosparam if="$(arg add_gripper)" file="$(find xarm_controller)/config/gripper_gazebo_ros_control.yaml" command="load"/>
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find xarm_gazebo)/worlds/xarm_example1_table.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- load the corresponding controllers -->
  <include file="$(find xarm_controller)/launch/xarm6_control.launch">
    <arg name="run_demo_traj" value="$(arg run_demo)"/>
    <arg name="effort_control" value="$(arg effort_control)"/>
    <arg name="velocity_control" value="$(arg xarm_velocity_control)"/>
    <arg name="add_gripper" value="$(arg add_gripper)" />
  </include>

  <!-- Moveit loader -->

  <!-- <remap from="/follow_joint_trajectory" to="/xarm/xarm6_traj_controller/follow_joint_trajectory"/> -->
  <arg name="xarm_traj_controller" value="$(eval 'xarm6_traj_controller_velocity' if arg('velocity_control') else 'xarm6_traj_controller')" />
  <arg name="gripper_trajectory_controller" value="$(eval 'gripper_trajectory_controller_velocity' if arg('velocity_control') else 'gripper_trajectory_controller')" />
  <remap from="arm_controller/follow_joint_trajectory" to="/$(arg namespace)/$(arg xarm_traj_controller)/follow_joint_trajectory"/>
  <remap from="gripper_controller/follow_joint_trajectory" to="/$(arg namespace)/$(arg gripper_trajectory_controller)/follow_joint_trajectory"/>

  <include file="$(find xarm6_gripper_moveit_config)/launch/moveit_rviz_common.launch">
    <arg name="jnt_stat_source" value="[/$(arg namespace)/joint_states]" />
    <arg name="load_move_group" value="true" />
    <arg name="pub_tf" value="false" />
    <arg name="gripper_controller" value="true" />
  </include>

</launch>

